.ethni{
position: relative;
display: flex;
flex-wrap: wrap;
width: 100%;
padding: 15px 0px;
&__mainTab{
    width:140px;
    border:1px solid #ddd;
    margin-right: 5px;
    padding: 5px 0px 5px 5px;
    font-size: 1.1rem;
    text-align: start;
    @include mq(xsmall){
        width:170px;
        font-size: 1.2rem;
    }
  }
}
.ethniOptions{
    position: relative;
    left:0;
    border-left: 1px solid #ddd;
    padding:20px 0px;
    margin-left: 10px;
    @include mq(xsmall){
        margin-left: 20px;
    }
    &__tab{
        position: relative;
        opacity: 0;
        transition: 0.2s linear;
        &--onPosition{
            opacity: 1;
        }
    }
    &__element{
        position: relative;
        left:-17.5px;
        display: flex;
        justify-content: space-between;
        width:150px;
        border: 1px solid #ddd;
        background-color: #fff;
        margin: 0px 0px 5px 20px;
        padding: 5px 0px;
        z-index: 1;
        transition: 0.2s linear;
        &--onPosition{
            left:0;
        }
        @include mq(xsmall){
            width:170px;
        }
        .spanAnd{
            left:-35px;
            opacity: 0;
            transition: 0.2s linear;
            &--onPosition{
                opacity: 1;
            }
        }
    }
    &__text{
        width:70%;
        text-align: start;
        word-wrap: break-word;
        line-height:20px;
        padding-left: 5px;
        font-size: 1.1rem;
        @include mq(xsmall){
            font-size: 1.2rem;
        }
    }
    .ethni__btn{
        @include addBtn;
        width:25px;
        height: 25px;
        bottom:0;
        transform: translate(-50%,50%);
        border:none;
        box-shadow: none;
        font-size: 2rem;
        box-shadow: 0 8px 10px 0px rgba(87,255,238,1);
    }
}