.main{
    position: relative;
    width:160px;
    min-height: 60vh;
    border-left:1px solid #ddd;
    margin:50px auto 0px auto;
    padding: 25px 0px;
    &__people{
        position: absolute;
        top:0;
        left:0;
        transform: translate(-50%,-50%);
        width: 150px;
        height: 40px;
        background: linear-gradient(180deg, rgba(160,118,244,1) 0%, rgba(116,118,247,1) 100%);
        text-align: center;
        line-height: 40px;
        text-transform: capitalize;
        border-radius: 5px;
        z-index: 1;
        color:white;
        font-size: 1.5rem;
        font-family: Helvetica, sans-serif;
        @include mq(xsmall){
            width:165px;
            height: 45px;
            line-height: 45px;
        }
    }
    &__tab{
        position: relative;
        margin: 25px 0px;
        transition: 0.2s linear;
        opacity: 0;
        &--onPosition{
            opacity:1;
        }
        &Element{
        position: relative;
        top:100%;
        left:0;
        width:130%;
        padding-left: 7.5px;
        border-radius: 5px;
        box-shadow: 0px 0px 15px 0px #eee;
        background: linear-gradient(180deg, rgba(160,118,244,1) 0%, rgba(116,118,247,1) 100%);
        font-family: 'Roboto Mono', monospace;
        font-weight: 600;
        color:#4B597B;
        font-size: 1.1rem;
        transition: 0.2s linear;
        &--onPosition{
            left:15%;
        }
        @include mq(xsmall){
            width:155%;
            font-size: 1.2rem;
        }
        &Text{
            display: flex;
            justify-content: space-between;
            width: 100%;
            background-color: #fff;
            padding: 10px 0px 10px 15px;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            line-height:20px;
        }
        .spanAnd{
         position: absolute;
         top:50%;
         left:-45px;
         transform: translate(-50%,-50%);
         color:#B7BDCA;
         font-size: 1.1rem;
         opacity: 0;
         transition: 0.2s linear;
         &--onPosition{
             opacity: 1;
         }
         }
      }
    }
}


.divLine{
    position: absolute;
    top:50%;
    height: 10px;
    width: 50%;
    border-top:1px solid #ddd;
}