.popupWrap{
    position: fixed;
    width:100vw;
    height: 110vh;
    top:-10%;
    left:0;
    background-color: transparent;
}
.popup{
    position: fixed;
    top:60%;
    left:50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:220px;
    height: 280px;
    opacity: 0;
    background: linear-gradient(180deg, rgba(160,118,244,1) 0%, rgba(116,118,247,1) 100%);
    border-radius: 5px;
    z-index: 1;
    filter: blur(0px);
    transition: 0.2s linear;
    &--onPosition{
        top:50%;
        opacity: 1;
    }
    &::before{
        content: '';
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        width:210px;
        height: 270px;
        background-color: rgb(233, 220, 241);
        z-index: -1;
    }
    &__form{
        font-size: 1.5rem;
        font-family: Arial, Helvetica, sans-serif;
        color:#4B597B;
        padding: 10px;
        text-align: center;
    }
    &__input{
     padding:5px 0px 5px 5px;
     margin-top: 5px;
     border:1px solid #4B597B;
     outline-color: purple;
    }
    &__btn{
       @include addBtn;
       top:80%;
       left:50%;
       background: linear-gradient(180deg, rgba(160,118,244,1) 0%, rgba(116,118,247,1) 100%);
       box-shadow: none;
       border:none;
       box-shadow: 0 20px 15px 0px rgba(136,138,255,1);
    }
}

.escapeBtn{
    position: absolute;
    top:1%;
    left:99%;
    transform: translate(-50%,-50%);
    width:25px;
    height: 25px;
    border-radius: 50%;
    border:1px solid #aaa;
    background-color: #fff;
    outline:none;
    cursor: pointer;
    color: #555;
}